/* color */
$premary-100: #B2E8F7;
$premary-600: #12A4C5;
$premary-800: #007C92;
$blue-color: #045fd4;
$red-color: #ff0000;
$wh-color: #fff;
$bk-color: #333; 
$grey-900: #3C3C3C;
$grey-800: #606060;
$grey-700: #818181;
$grey-400: #DEDEDE;
$grey-300: #F0F0F0;

/* padding */
$padding-sub: 8.59vw;
$padding-list: 1.77vw;
$padding-title: 2.53vw;
$padding-badge: 0.2vw 0.5vw;
$padding-sub-mb: 5vw;
$padding-title-mb: 4vw;
$padding-list-mb: 8vw 4vw;

/* Font Size */
$font-large: 4.8rem;
$font-medium: 3.2rem;
$font-Regular: 2.4rem;
$font-small:  1.6rem;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* common css */
html {
  /* 62.5% of 16px browser font size is 10px */
  /* 16px * 0.625 = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: -0.24px;
  color: $bk-color;
  width: 100%;
  overflow-x: hidden;
}
img {
  display: block;
  width: 100%;
}
video {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
a {
  color: $bk-color;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

/* input */
input:focus,
textarea:focus {
  outline:none;
  box-shadow: 0 0 10px $premary-600;
}
input {
  height: 60px;
}
textarea,input  {
  width: 100%;
  border-radius: 10px;
  background-color: $grey-300;
  border: none;
  margin-bottom: 0.8vw;
  padding: 1.5vw;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: $font-small;
  transition: 0.5s;
}

/* == button == */
button {
  border: none;
  padding: 14px 20px;
  background-color: $grey-900;
  color: $wh-color;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.25s;
  &:hover {
    background-color: $bk-color;
  }
  &.btnPremary {
    border: 1px solid $premary-600;
    &:hover {
      background-color: $premary-600;
      color: $wh-color;
    }
  }
  &.btnGy:hover {
    color: $wh-color;
    background-color: $grey-800;
  }
  &.btnWh:hover {
    background-color: $grey-400;
  }
  &.btnLine {
    border: 1px solid $grey-900;
    &:hover {
      color: $wh-color;
      background-color: $grey-900;
    }
  }
}

$button-bg: (
  btnPremary: transparent,
  btnGy: $grey-700,
  btnWh: $wh-color,
  btnLine: transparent
);
$button-color: (
  btnPremary: $premary-600,
  btnGy: $wh-color,
  btnWh: $bk-color,
  btnLine: $bk-color
);
@each $key, $vlue in $button-bg {
  button.#{$key} {
    background-color: $vlue;
  }
}
@each $key, $vlue in $button-color {
  button.#{$key} {
    color: $vlue;
  }
}

// badge 
.badge {
  font-size: 1.2rem;
  background-color: $premary-800;
  border-radius: 3px;
  display: inline;
  color: $wh-color;
  padding: $padding-badge;
}

// sub page
section.sub_page {
  width: 100%;
  background-color: #F9F9F9;
  nav.menu {
    padding: 17px $padding-sub;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    background-color: $wh-color;
    ul {
      @include between;
      font-weight: bold;
      li a {
        &:hover {
        color: $premary-600;
        }
      }
    }
  }  
  .contents {
    width: 100%;
    padding: $padding-sub;
    padding-top: 9.60vw;
    .content {
      margin-bottom: 9.60vw;
      .headline {
        h1 {
          font-size: $font-large;
          line-height: 1.2em;
          b {
            font-weight: bold;
          }
        }
        p {
          padding: 1.5vw 0;
          color: $grey-800;
        }
      }
      .title {
        font-size: $font-medium;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: $padding-title;
        position: relative;
        padding-left: 20px;
        &::before {
          position: absolute;
          content: '';
          width: 10px;
          height: 100%;
          border-radius: 10px;
          background: linear-gradient(to bottom, #5CEBFA, #007C92);
          left: 0;
        }
      }
      .items_box {
        @include center;
        flex-wrap: wrap;
        gap: 1vw;
        .item {
          border-right: 1px solid $grey-400;
          border-bottom: 1px solid $grey-400;
          flex: 1;
          padding: 30px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
      }
      .table_box {
        padding-top: 3vw;
        table{
          width: 100%;
          tr {
            border-bottom: 1px solid $grey-400;
          }
          thead {
            background-color: $premary-600;
            border-radius: 10px;
            overflow: hidden;
            th {
              color: $wh-color;
              padding: 1vw;
            }
          }
          tbody {
            td {
              padding: 2vw 1vw;
            }
          }
        }
      }
    }
  }
}

.tab_menu {
  .tab_btn {
    margin-bottom: 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    flex-wrap: wrap;
    span {
      border: 1px solid $premary-600;
      padding: 5px 30px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.25s;
      &.active {
        background-color: $premary-600;
        color: $wh-color;
      }
    }
  }
  .tab_item {
    display: none;
    width: 100%;
    height: 230px;
    background-color: $premary-800;
    background-size: cover;
    border-radius: 10px;
    padding: 3vw;
    color: $wh-color;
    .active {
      display: block;
    }
    &:nth-child(1) {
      background-image: url(assets/rpa_benefits.png);
    }
    h2 {
      font-size: 2.0rem;
      margin-bottom: 1vw;
    }
  }
}

$sub_img: (
  company: url(assets/sub_banner_01.png),
  strategy: url(assets/sub_banner_02.png),
  incruit: url(assets/sub_banner_03.png),
  contact: url(assets/sub_banner_04.png)
);
@each $key, $vlue in $sub_img {
  .sub_page.#{$key} {
    background-image: $vlue;
  }
}
